In [11]:
x =  1 #--> Integer
print(x)//طباعة

1

In [12]:
type(x)//نوع المتغير بناء على المحفوظ جواته

int

In [13]:
print(type(x))

<class 'int'>

In [16]:
y = 3.3 #--> float 
y

3.3

In [18]:
t = 1.0
type(t)

float

In [28]:
z = False// هنا الترو والفولس كيز سنستف ومحفوظات واول حرف كبتل

In [22]:
type(z)

bool

In [26]:
u = None

In [24]:
type(u)

NoneType

In [29]:
3+2

5

In [34]:
print(3+2)
print(3-2)

5
1

In [35]:
x = 10 
y = 5.5

#sum
print(x + y)

#subtract
print(x - y)

#multiplication
print(x * y)

#division
print(x / y)

#reminder
print(x % y)

#power
print(x ** y)
print(x=y)// syntax error
print(x==y)// True OR False 

print() print()// خطأ سنتكس بزبطش ورا بعض او افصلهم بسمي كولون للاول
print(); print()// هيك صحيح

15.5
4.5
55.0
1.8181818181818181
4.5
316227.7660168379

In [46]:
pi = 22/7
raduis = 2.2 +1

In [48]:
area = pi * (raduis ** 2)

In [49]:
print(area)

32.182857142857145

In [58]:
type(' ')

str

In [59]:
name = 'ahmed' #--> str
name

'ahmed'

In [60]:
type(name)

str

In [62]:
age = '26'

In [63]:
age

'26'

In [64]:
s = "Hi i am ahmed , and i am 26 years old"

In [66]:
type(s)

str

In [67]:
x = 'hello' 
x

'hello'

In [69]:
x = x * 5
x

'hellohellohellohellohello'

In [72]:
hi = 'Hello ,'
name = ' ali'
greeting = hi + name
print(greeting)

Hello , ali

In [73]:
hi = 'Hello ,'
name = 'ali'
greeting = hi + ' ' +name
print(greeting)

Hello , ali

In [74]:
hi = 'Hello ,'
name = 'ali'
greeting = hi + ' ' +name * 3
print(greeting)

Hello , alialiali

In [77]:
x = True
type(x)

bool

In [78]:
x_str = str(x)

In [79]:
x_str

'True'

In [80]:
type(x_str)

str

In [83]:
print("Ahmed")

Ahmed

In [85]:
print(x + " " + "Fav number is : " + x)

True Fav number is : True

In [93]:
name = 'ahmed'
cc = 5

In [95]:
print(name + " " + "Fav number is : " + str(cc))

ahmed Fav number is : 5

In [97]:
x = input("Enter the number")
x

Enter the number5

'5'

In [102]:
x = int(input("plz, Enter an integer number"))
x

plz, Enter an integer number5

5

In [103]:
type(x)

int

In [104]:
c= float(input("plz, Enter a folat number"))
c

plz, Enter a folat number5.5

5.5

In [106]:
type(c)

float

In [107]:
num1 = int(input("plz, Enter first number "))
num2 = int(input("plz, Enter sec number "))

print('sum = ',num1 + num2)
print('sub = ',num1 - num2)
print('div = ',num1 / num2)
print('multi = ',num1 * num2)
print('reminder = ',num1 % num2)
print('power = ',num1 ** num2)

plz, Enter first number 8
plz, Enter sec number 4
sum =  12
sub =  4
div =  2.0
multi =  32
reminder =  0
power =  4096

In [123]:
v = 2
f = 2

In [119]:
v = 4

In [116]:
num1 = int(input("plz, Enter first number "))
num2 = int(input("plz, Enter sec number "))

print(num1 >= num2) # < ,> ,>= ,<= ,==,!=
# for comment

plz, Enter first number 2
plz, Enter sec number 2
True

In [124]:
if v == f:
    print('a')
    # في جمل الاف ستيتمنت او اي شي مشابه في لغات البرمجة كنا نميز الذي بداخل الاف واي جمل مشابهه من خلال الاقواس لكن هنا نميزه انه اول ما يجي لاشي تحت الاف ستيتمنت ع بداية السطر اضغط تاب حتى يفوت داخل الاف 
    # (Tab)تسد مسد الاقواس في الجمل شرطية واللوب


    #مهم مهم مهم مهم
     x = 5 
print("x is 5") if x == 5 else print("xis not 5")

x=5
print("x is 5") if x == 5 print("x is lees 5") elif x<5 else print("xis not 5")

a

In [125]:
a = True
b = True
print(a != b)

False

In [126]:
a = True
b = True
print(a and b)

True

In [127]:
a = True
b = False
print(a and b)

False

In [128]:
a = True
b = False
print(a or b)

True

In [129]:
a = True
print(not a)

False

In [131]:
s = 'abc'
len(s)

3

In [132]:
a = "hello ahmed" # 0 ->10
len(a)

11

In [135]:
# select first char
a[0]

'h'

In [136]:
# select last char
a[10] #len -1

'd'

In [137]:
a[11]

IndexError: string index out of range

In [138]:
a[-1] # select last index

'd'

In [139]:
a[-2]

'e'

In [151]:
a[1:11]#[index:stop] الستوب ليس ضمن الطباعة
[نهاية:بداية]#يبدأ من البداية طبيعي لكن النهاية ليست ضمن اللي بده يطبعه

'ello ahmed'

In [ ]:
a = "hello ahmed"

In [141]:
a[1:8:3]#[index:stop:step] الستيب اي القفزة كل عدد معين من الخطوات جيبلي حرف مثلاً

'eoh'

In [143]:
a[0:5]

'hello'

In [144]:
a[:5]

'hello'

In [145]:
a[:]

'hello ahmed'

In [146]:
a[-1]#الحرف الاخير
a[-2]#الحرف القبل الاخير
a[::-1]# هنا ببدا من لحرف لاخير وبرجع بالكلام رجوع لانه كل قفزة سالب واحد اي القفزة ثانيه رح تكون على السالب اثنين

'demha olleh'

In [147]:
x = 'hello'

In [150]:
x[0] = 'y' # immutable

TypeError: 'str' object does not support item assignment

In [153]:
x = 'hello'
x = 'y' + x[1:len(x)]
x

x="momen"
#x="bhais"+x[3:-1#بشطب لحرف لاخير
x="bhais"+x[3:len(x)]
x

'yello'

In [154]:
s ='Welcome to Ai course, Ai route acadmy'
print(s.replace('Ai', 'ML')) # replace(old value , new value)

Welcome to ML course, ML route acadmy

In [155]:
print(s.split(' '))

['Welcome', 'to', 'Ai', 'course,', 'Ai', 'route', 'acadmy']

In [156]:
print(s.split(','))

['Welcome to Ai course', ' Ai route acadmy']

In [157]:
print(s.split('Ai'))

['Welcome to ', ' course, ', ' route acadmy']

In [158]:
print(s.upper())

WELCOME TO AI COURSE, AI ROUTE ACADMY

In [159]:
print(s.lower())

welcome to ai course, ai route acadmy

In [160]:
print(s.capitalize())#اول حرف كبتل

Welcome to ai course, ai route acadmy

In [161]:
print(s.count('Ai'))#عددهن بالجملة

2

In [162]:
s = s.lower()

In [163]:
s

'welcome to ai course, ai route acadmy'

In [164]:
print(s.islower())

True

In [165]:
print(s.isupper())

False

In [166]:
print(s.find('to'))

8

In [ ]:
x='momen  '
x=x.replace('m','b')
print(x)
print(x.split('e'))
print(x.upper())
print(x.capitalize())
print(x.count('b'))
print(x.isupper())
print(x.find('be'))